fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
python-dotenv
python-multipart
psycopg[binary]
asyncpg
boto3
botocore
certifi
numpy
scipy
redis
PyJWT==2.13.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
usd2gltf==0.3.5
